$main-accent: #00C000;
$secondary-accent: #00A000;
$tertiary-accent: #004000;
$highlight: #CCCCCC;
$foreground: #00C000;
$foreground-alt: $foreground;
$selection-foreground-color: $foreground;
$background: #111111;
$background-syntax: #111111;
$toolbar-color: black;
$background-choice-box: $background;
$background-primary-button: $main-accent;
$background-secondary-button: $tertiary-accent;
$foreground-primary-button: #FFFFFF;
$foreground-secondary-button: #FFFFFF;
$background-selection: #282828;
$border-color: #1E1E1E;
$font-family: Arial, SansSerif, monospace;
$code-font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace;
$foreground-keyword: #6897BB;
$background-keyword: $background-syntax;
$foreground-comment: #6F6F6F;
$background-comment: $background-syntax;
$foreground-number: #FF0000;
$background-number: $background-syntax;
$foreground-bool: #6897BB;
$background-bool: $background-syntax;
$foreground-array: #FFFFFF;
$background-array: $background-syntax;
$foreground-value: #FF0000;
$background-value: $background-syntax;
$foreground-object: $foreground-array;
$background-object: $background-syntax;
$foreground-plain: $foreground;
$background-plain: $background-syntax;
