$main-accent: #9A6DDA;
$secondary-accent: #505D93;
$tertiary-accent: #E43D67;
$highlight: #505D93;
$foreground: #ADADAD;
$foreground-alt: #ADADAD;
$selection-foreground-color: $foreground;
$background: #32343F;
$background-syntax: #1E1F29;
$toolbar-color: #{darken($background, 10%)};
$background-choice-box: $background;
$background-primary-button: #505D93;
$background-secondary-button: #1E1F29;
$foreground-primary-button: $foreground;
$foreground-secondary-button: $foreground;
$background-selection: #4E5A82;
$border-color: #1E1E1E;
$font-family: Arial, SansSerif, monospace;
$code-font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace;
$foreground-keyword: #FC5BDA;
$background-keyword: $background-syntax;
$foreground-comment: #545454;
$background-comment: $background-syntax;
$foreground-number: #74D4EC;
$background-number: $background-syntax;
$foreground-bool: #74D4EC;
$background-bool: $background-syntax;
$foreground-array: #F5F5F5;
$background-array: $background-syntax;
$foreground-value: #74D4EC;
$background-value: $background-syntax;
$foreground-object: $foreground-array;
$background-object: $background-syntax;
$foreground-plain: $foreground;
$background-plain: $background-syntax;
$syntax-caret-color: $tertiary-accent;
