$main-accent: #589df6;
$secondary-accent: #507EbD;
$tertiary-accent: #BA77C6;
$highlight: #CC844F;
$foreground: #A8AFBE;
$foreground-alt: #{lighten($foreground, 10%)};
$selection-foreground-color: $foreground;
$background: #172236;
$background-syntax: #151F2F;
$toolbar-color: #151F2F;
$background-choice-box: #{lighten($toolbar-color, 10%)};
$background-primary-button: $background-choice-box;
$background-secondary-button: $background-choice-box;
$foreground-primary-button: $foreground;
$foreground-secondary-button: $foreground;
$background-selection: #28509E;
$border-color: #283451;
$font-family: Arial, SansSerif, monospace;
$code-font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace;
$foreground-keyword: #CC844F;
$background-keyword: $background;
$foreground-comment: #647F94;
$background-comment: $background;
$foreground-number: #6897BB;
$background-number: $background;
$foreground-bool: #6897BB;
$background-bool: $background;
$foreground-array: #A8AFBE;
$background-array: $background;
$foreground-value: #517D56;
$background-value: $background;
$foreground-object: $foreground-array;
$background-object: $background;
$foreground-plain: $foreground;
$background-plain: $background;
$syntax-caret-color: $foreground
