$main-accent: #D69A6B;
$secondary-accent: #413223;
$tertiary-accent: #E43D67;
$highlight: #00A0A0;
$foreground: #DFE1E5;
$foreground-alt: white;
$selection-foreground-color: $foreground;
$background: #404345;
$background-syntax: #111111;
$toolbar-color: #{darken($background, 10%)};
$background-choice-box: $background;
$background-primary-button: $background-choice-box;
$background-secondary-button: $background-choice-box;
$foreground-primary-button: $foreground;
$foreground-secondary-button: $foreground;
$background-selection: #00A0A0;
$border-color: #1E1E1E;
$font-family: Arial, SansSerif, monospace;
$code-font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace;
$foreground-keyword: #7385BC;
$background-keyword: $background-syntax;
$foreground-comment: #545454;
$background-comment: $background-syntax;
$foreground-number: #E43D67;
$background-number: $background-syntax;
$foreground-bool: #7385BC;
$background-bool: $background-syntax;
$foreground-array: #FFFFFF;
$background-array: $background-syntax;
$foreground-value: #E43D67;
$background-value: $background-syntax;
$foreground-object: $foreground-array;
$background-object: $background-syntax;
$foreground-plain: $foreground;
$background-plain: $background-syntax;
